{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Valores</h2>
<p>		
<p>Há valores diferenciados de inscrição de acordo com seu vínculo institucional e/ou modalidade de curso.
<ul>
<p><li><b>Estudante de Graduação ou Pós-Graduação</b>: 280 reais;</li>
<p><li><b>Professor, pós-doutorando ou pesquisador de instituição pública</b>: 400 reais;</li>
<p><li><b>Profissional externo</b>: 600 reais;</li>
<p>
</ul>
<p>
Como as inscrições no momento estão fechadas, há uma <a href="https://forms.gle/ddmNQn6eBntGuUYg9">lista de espera</a> para possíveis desistências e avaliar a possibilidade de abertura de novas turmas.
<p>
Em caso de desistência, <b><red>o reembolso será de 70% do valor da inscrição</red></b>, em função da existência de taxas administrativas.
<p>

</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Inscrições</h2>
<p>
<p>As inscrições são realizadas e gerenciadas pela plataforma Even3.
<p>Clique <a href="https://www.even3.com.br/curso-de-filogenia-de-microrganismos-302504">aqui</a> para mais detalhes.

</div>
</section>

{{ define "inscricoes-links-list" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a target="_blank" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}
